body {

    background: rgb(9, 4, 47);
    background: linear-gradient(0deg, rgb(11, 9, 27) 0%, rgb(26, 2, 91) 50%, rgb(13, 11, 35) 100%);
    background-size: 130%;
    background-repeat: no-repeat;
    transition: ease-in 0.3s;

}

.body-light {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(220, 221, 230) 0%, rgba(186, 167, 232, 1) 50%, rgba(220, 221, 230) 100%);
    color: black;
    transition: ease-in 0.3s;
}


body,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    color: rgb(219, 226, 232);
}

.container {
    display: flex;
    flex-flow: column;
    margin-top: 7em;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-text {
    margin: 20px 10px;
}

.subtitle {
    font-size: 2em;
    font-weight: 300;
}

.section-title {
    font-size: 2em;
}

.list {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    height: 6em;

}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;

}

.info {
    display: flex;
    width: 50%;
    margin-bottom: 30%;
}

.header-title {
    font-weight: 500;
}

.anchor-tag {
    font-weight: 500;
    margin-left: 1.5em;
    text-decoration: none;
    color: rgb(219, 226, 232);
    transition: ease-in-out 0.3s;
}

.anchor-tag-light {
    color: black;
    transition: ease-in-out 0.3s;
}

.theme-btn {
    margin-right: 1.5em;
}

.center {
    display: flex;
    align-items: center;
}

.main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}

.nav {
    display: flex;

}

li {
    list-style: none;
    margin-left: 1.5em;
    background-color: rgba(74, 54, 138, 0.248);
    padding: 0.5em;
    transition: ease-in 0.3s;
}

.li-light {
    background-color: rgba(76, 28, 236, 0.162);
    transition: ease-in-out 0.3s;
}

.li-contact:hover {
    background-color: rgba(63, 51, 132, 0.504);
    transition: 0.3s;

}

.li-light:hover {
    background-color: rgba(26, 8, 85, 0.529);
    transition: 0.3s;
    color: rgb(220, 220, 255);

}

.skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.skills li {
    transition: transform 0.3s ease-in-out;
}

.skills li:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.items-list {
    display: flex;
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}

.items-list li {
    margin: 0.5em;
}

.section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.projects {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 350px;
    background-color: rgba(50, 45, 116, 0.226);
    padding: 1em;
    margin: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

.card-light {
    background-color: rgba(68, 0, 157, 0.145);
    box-shadow: rgba(0, 0, 0, 0.212) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: transform 0.3s ease-in-out;
}

.card h1 {
    font-size: 1.5em;
}

.card-p {
    font-size: 1em;
    color: rgb(196, 194, 194);
    transition: ease-in-out 0.3s;

}

.card-p-light {
    color: black;
    transition: ease-in-out 0.3s;

}

.card:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    transition: transform 0.2s ease-in-out;
}

.lenguages {
    font-weight: 500;
    font-size: 0.88em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.lenguages div {
    margin: 0.5em;
}

.contact-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 200px;
}

.MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    color: rgb(0, 0, 0);
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: 10px 10px;
}

.dark-mode {
    width: 100px;
}

