body {
    margin: 0px;
}

.body-dark {
    background: rgb(9, 4, 47);
    background: linear-gradient(0deg, rgb(11, 9, 27) 0%, rgb(26, 2, 91) 50%, rgb(13, 11, 35) 100%);
    background-size: 130%;
    background-repeat: no-repeat;
    transition: ease-in 0.3s;

}


.body-light {
    background: rgb(186, 167, 232);
    background: linear-gradient(0deg, rgba(186, 167, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(186, 167, 232, 1) 100%);
    color: black;
    transition: ease-in 0.3s;
}


body,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    color: rgb(219, 226, 232);
}

.container {
    display: flex;
    flex-flow: column;
    margin-top: 12em;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 5px;
}

.info {
    display: flex;
    width: 50%;
    margin-bottom: 20em;
}

.info-text {
    margin: 0px;
}

.subtitle {
    font-size: 1.8em;
    font-weight: 300;
    
}

.section-title {
    font-size: 2em;
}

.list {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    height: 6em;

}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;

}

.header-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
    font-weight: 500;
    flex-wrap: wrap;
}

.nav-anchor-tag {
    font-weight: 500;
    margin-left: 1.5em;
    text-decoration: none;

}

.nav-anchor-tag-dark {
    color: rgb(219, 226, 232);
    transition: ease-in 0.3s;

}

.nav-anchor-tag-light {
    color: black;
    transition: ease-in 0.3s;

}

.theme-btn {
    margin-right: 1.5em;
}

.center {
    display: flex;
    align-items: center;
}

.main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}



.section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.projects {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 350px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.card-dark {
    background-color: rgba(50, 45, 116, 0.226);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.card-light {
    background-color: rgba(68, 0, 157, 0.145);
    box-shadow: rgba(0, 0, 0, 0.212) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card h1 {
    font-size: 1.5em;
}

.card-p {
    font-size: 1em;
    transition: ease-in 0.3s;

}

.card-p-dark {
    color: rgb(196, 194, 194);
    transition: ease-in 0.3s;
}

.card-p-light {
    color: black;
    transition: ease-in 0.3s;
}

.card:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    transition: transform 0.2s ease-in-out;
}

.lenguages {
    font-weight: 500;
    font-size: 0.88em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.lenguages div {
    margin: 0.5em;
}

.skills-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.items-list {
    display: flex;
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}

.items {
    list-style: none;
    margin-left: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    transition: ease-in 0.3s;
}

.items-dark>* {
    background-color: rgba(74, 54, 138, 0.248);
    transition: ease-in 0.3s;

}

.items-light>* {
    background-color: rgba(76, 28, 236, 0.162);
    transition: ease-in 0.3s;
    /*  box-shadow: rgba(0, 0, 0, 0.212) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; VER ESTOOOOOOOO*/
}



.items:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.contact-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;

}

.contact-list {
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.contact-list .items {
    text-decoration: none;
    color: inherit;
}

.contact-items-light {
    background-color: rgba(39, 23, 185, 0.223);

}

.contact-items-dark:hover {
    background-color: rgba(63, 51, 132, 0.504);
    transition: 0.3s;

}

.contact-items-light:hover {
    background-color: rgba(26, 8, 85, 0.529);
    color: rgb(220, 220, 255);
    transition: 0.3s;
}



.MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    color: rgb(0, 0, 0);
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: 10px 10px;
}

.dark-mode-btn {
    padding: 0px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}


.nav-btns {
    display: flex;
    flex-flow: row;
}



@media (max-width: 768px) {
    .hamburguer-menu {
        display: flex;
    }

    .nav-a {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .nav-list {
        display: flex;
    }
}

@media (min-width: 769px) {
    .hamburguer-menu {
        display: none;
    }

    .nav-a {
        display: flex;
    }

    .nav-list {
        display: none !important;
    }
}

.hamburguer-menu {
    width: 35px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in 0.5s;
}


.hamburguer-line {
    width: 90%;
    height: 2px;
    border-radius: 2px; 
    transition: ease-in 0.5s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
}

.hamburguer-line-dark {
    background-color: black;
}

.hamburguer-line-light{
    background-color: rgb(219, 226, 232);;
}


.open .hamburguer-line:nth-child(1) {
    transform: translateY(10.3px) rotate(45deg);
    transition: ease-in 0.5s;
}

.open .hamburguer-line:nth-child(2) {
    opacity: 0;
    transition: ease-in 0.2s;


}

.open .hamburguer-line:nth-child(3) {
    transform: translateY(-10.3px) rotate(-45deg);
    transition: ease-in 0.5s;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    position: fixed;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    inset: 0;
    justify-content: center;
    gap: 4em;

}

.nav-list-dark {
    background: rgb(9, 4, 47);
    background: linear-gradient(0deg, rgb(11, 9, 27) 0%, rgb(26, 2, 91) 50%, rgb(13, 11, 35) 100%);
    background-size: 130%;
    background-repeat: no-repeat;
    transition: ease-in 0.3s;
    color: rgb(219, 226, 232);
}

.nav-list-light {
    background: rgb(186, 167, 232);
    background: linear-gradient(0deg, rgba(186, 167, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(186, 167, 232, 1) 100%);
    color: black;
    transition: ease-in 0.3s;
}